* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Cairo", sans-serif !important;
}

.background-radial-gradient {
  background-color: #204f7d;
  background-image: radial-gradient(
      650px circle at 0% 0%,
      #407db8 15%,
      #3a73a6 35%,
      #2d5f88 75%,
      #285a82 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      #5893c1 15%,
      #3a73a6 35%,
      #2d5f88 75%,
      #285a82 80%,
      transparent 100%
    );
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#ff8000, #ffb347);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#ff8000, #ffb347);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.836) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.custom-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #eee;
}

.custom-container-card {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  #radius-shape-1 {
    display: none;
  }
  #radius-shape-2 {
    display: none;
  }

  .custom-container-card {
    width: 100%;
  }
}
